@charset "utf-8";
/* CSS Document */

body{font-family: "Open Sans", sans-serif; font-size:15px; margin:0; padding:0; background-image:url(../images/greyzz.png);}
header, footer, article, aside, figure, section, area, canvas, center, frame, nav, audio, video{margin:0; padding:0;} 


.bor{ border:1px solid #F00;}
.clr{ clear:both;}
.logo{ width:auto; margin:10px;}


h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
 
    font-style: normal;
    color: #222222;
    text-rendering: optimizeLegibility;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    line-height: 1.2125em;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

.hed-top{ float:left; width:100%; background-color:#fff; border-bottom:1px solid #ccc;}

.content{ width:100%; margin:50px auto; height:100%; padding:20px;/* border:1px solid #ccc; background-color:#f2f2f2;*/}

#bg-blue {
    background: #0092cd;
    width: 100%;
    background-size: cover;
    height: 100%;
    /*min-height: 64pc;*/
    padding: 20px;
    /*width: 427px !important;*/
    height: auto;
}

.inner_main {
    background-color: #fff;
    padding: 10px 30px;
}

.hed-foot{ float:left; width:100%; background-color:#fff; border-top:1px solid #ccc; text-align:center; padding:20px; position:fixed; bottom:0;}

.sider-bar-main{width:200px; height:100px; float:left; left:0; position:absolute; top:300px; z-index:9999; border:0px solid #F00;}
.generate-key{ float:left; width:48%; border:0px solid #F00;}
.generate-key01{ margin-left:15px;}

.generate-key-btn{ width:100%; background-color:#25a7e8; color:#FFF; padding:5x 20px;}
.generate-key-btn:hover{ background-color:#ff9600; color:#FFF;}

.sider-bar-btn{ background-color:#25a7e8; color:#FFF; padding:5x 20px; border-top-right-radius:20px; border-bottom-right-radius:20px;}
.sider-bar-btn:hover{ background-color:#ff9600; color:#FFF;}

.sider-btn{ background-color:#25a7e8; color:#FFF; padding:5x 20px;}
.sider-btn:hover{ background-color:#ff9600; color:#FFF;}
.btn-main{margin:auto; border:0px solid #000; text-align:center; margin-top:10px;}
.table-color{ background-color:#25a7e8; color:#FFF; padding:20px 0;}


/*.left_part{
  width: 100%; border:1px solid #F00;
 
}
.right_part{
 width: 100%; border:1px solid #F00;
 
}*/
.info-circle {
    border: 1px solid #23527C;
    border-radius: 19px;
    padding-top: 11px;
    height: 19px;
    width: 11px;
    position: relative;
    top: 7px;
    padding-left: 8px;
    padding-right: 9px;
}
.question_custom {
    left: -4px;
    position: relative;
    top: -10px;
}



i, .fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.top-sec{ width:100%; border-bottom:5px solid #CCC; float:left;}

.mid-sec{width:100%; float:left; margin-top:20px;}
.mid-sec1{width:100%; float:left; margin-top:20px; background-color:#f5f5f5; border:1px solid #e3e3e3;}
.service-hed{ width:100%; margin:20px 0; padding:15px 10px; font-weight:bold; float:left; text-align:left; background-color:#d9edf7; font-size:16px; color:#31708f; border-radius:3px;} 
.ser-bg{width:100%; float:left; border-radius:5px;}
.tab-content{ width:100%; float:left; padding:0 15px;}
.transcription-hed{ width:100%; float:left; color:#eb6432; margin-bottom:10px; font-size:24px;}
.uplode-main{ width:100%; margin:10px 0; float:left; border:0px solid #F00;}
.btn-main{width:100%; float:left; text-align:left; border:0px solid #F00;}
.btn-oreng{ background-color:#f0ad4e; border:0px; border-top-left-radius:3px; border-top-right-radius:3px; text-align:center; color:#FFF; font-size:11px; padding:3px 5px; font-weight:bold; text-transform:uppercase;}
.line1{ color:#eb6432;}

.sn1{width:116px; margin:auto; border:0px solid #F00;}
.sn2{float:left; border:0px solid #0F0;}


.btn-nl{ background-color:#3179b7; border:0px; border-top-left-radius:3px; border-top-right-radius:3px; text-align:center; color:#FFF; font-size:11px; padding:3px 5px; font-weight:bold; text-transform:uppercase;}

.btn-nl50{ background-color:#5bc0de; border:0px; border-top-left-radius:3px; border-top-right-radius:3px; text-align:center; color:#FFF; font-size:11px; padding:3px 5px; font-weight:bold; text-transform:uppercase;}


.btn-translation{ background-color:#5bc0de; border:0px; border-top-left-radius:3px; border-top-right-radius:3px; text-align:center; color:#FFF; font-size:11px; padding:3px 5px; font-weight:bold; text-transform:uppercase;}
.btn-transcription{ background-color:#F0AD4E; border:0px; border-top-left-radius:3px; border-top-right-radius:3px; text-align:center; color:#FFF; font-size:11px; padding:3px 5px; font-weight:bold; text-transform:uppercase;}
.btn-sub-titling{ background-color:#F0AD4E; border:0px; border-top-left-radius:3px; border-top-right-radius:3px; text-align:center; color:#FFF; font-size:11px; padding:3px 5px; font-weight:bold; text-transform:uppercase;}
.btn-proofreading{ background-color:#5BC0DE; border:0px; border-top-left-radius:3px; border-top-right-radius:3px; text-align:center; color:#FFF; font-size:11px; padding:3px 5px; font-weight:bold; text-transform:uppercase;}
.btn-typing{ background-color:#F0AD4E; border:0px; border-top-left-radius:3px; border-top-right-radius:3px; text-align:center; color:#FFF; font-size:11px; padding:3px 5px; font-weight:bold; text-transform:uppercase;}


.btn-oreng:hover{ background-color:#c08530;}


.brow{ width:100%; float:left; padding:8px; background-color:#FFF; border-radius:5px; border:1px solid #ccc;}
.btn-uplode{ float:left; background-color:#5cb85c; color:#FFF; font-size:14px; padding:8px 15px; text-align:center; border-radius:5px; border:0px solid #999; }
.btn-uplode:hover{ float:left; background-color:#248b24;}


.btn-uplode12{ float:left; background-color:#5cb85c; color:#FFF; font-size:14px; padding:8px 10px; margin-left:5px; text-align:center; border-radius:5px; border:0px solid #999; }
.btn-uplode12:hover{ float:left; background-color:#248b24;}



.tlb-top{width:100%; float:left; margin:0 0 12px 0;}
.entries{ color:#ee6432;}
.textar{ border-bottom:1px solid #999; padding-bottom:15px;}
.txt-color{ color:#ee6432; font-size:13px;}


/*----------BTN ----------*/
.email-btn{background-color:#e6e4e5; color:#000 !important; border-radius:5px; pointer:none; /*border-top-right-radius:0px;*/}
.email-btn:visited {color:#000; }
.email-btn:hover{ background-color:#ffffff; color:#FFF; cursor:auto;}
.act{ background-color:#373d43; color:#000;}


.login-btn{background-color:#0080ff; color:#000 !important; border-radius:5px; /*border-top-right-radius:0px;*/}
.login-btn:visited {color:#000; }
.login-btn:hover{ background-color:#f6f6f6; color:#FFF;}



.regis{text-align:left font-size:14px;}
.regis{text-align:left font-size:14px;}
.hed1{color:white; font-size: 35px; font-weight: 300; font-family: "Open Sans", sans-serif;}

.text-1{font-size:13px; line-height:22px;}



.modal-body {
    position: relative;
    padding: 0px;
}

.panel-success {
    border-color:none;
}

.warning{ width:100%; float:left; text-align:left; margin-bottom:15px; padding:3px 10px; color:#fff; background-color:#f95035; }
.success{width:100%; float:left; text-align:left; margin-bottom:15px; padding:3px 10px; color:#fff; background-color:#83c46c; }

.foot-sec{ border-top:5px solid #CCC; margin-top:40px;}
.pagebottom{ padding-bottom:150px; }




/**********css 06.01.2017***********/

.dashboard-main{width:100%; float:left; margin:20px 0; border:0px solid #F00;}
.dash1{width:100%; float:left; border:0px solid #F00;}
.dash2{width:100%; height:100px; float:left; background-color:#34495e;}
.dash-text{color:#FFF; float:left; text-align:left; font-size:24px; padding-top:30px;}

.btn-ak1{width:70%; margin:50px auto 20px auto; border:0px solid #F00;}

.details-hed{width:100%; float:left; color:#000; padding:10px 0px; font-size:18px;}


.dash-btn{ float:left; background-color:#fff; color:#000; font-size:14px; padding:8px 15px; text-align:center; border:0px solid #999; }
.dash-btn:hover{ float:left; background-color:#e4e4e4; color:#000;}
.actdash{ background-color:#e4e4e4; color:#000;}

.view-order-btn{ width:152px; background-color:#5cc1df; color:#fff !important; border-radius:0px; margin:10px 0 0 0; /*border-top-right-radius:0px;*/}
.view-order-btn:visited {color:#000; }
.view-order-btn:hover{ background-color:#3fa5c3; color:#FFF;}

.padd-main{padding:10px;}
.top-color{ background-color:#e9e9e9;}

.your-order-main{ width:100%; float:left; padding:10px; background-color:#0092cd;}
.your-order-hed{ width:100%; float:left; padding:15px 0; text-align:center; color:#FFF; font-size:30px; line-height:24px; font-weight:bold;}
.your-order-list{ width:100%; float:left; text-align:left; margin:20px 0 0 0; color:#FFF; font-size:14px; border:0px solid #F00;}
.your-order-lin{width:100%; border:0px solid #F00; line-height:30px; margin:0 20px;}

.rate-main{ width:98%; float:left; margin:20px 5px; padding:10px; background-color:#FFF;}
.rate-per-unit1{width:100%; float:left; border:0px solid #F00;}
.rate-per-unit11{width:100%; float:left; margin-top:10px; border:0px solid #F00;}
.rate-per-unit2{width:50%; float:left; text-align:left; font-size:14px; color:#000; border:0px solid #F00;}
.rate-per-unit3{width:40%; float:right; text-align:left; font-size:14px; color:#0092cd; border:0px solid #F00;}

.penaltuno{width:100%; float:left; text-align:left; margin-top:10px; font-size:14px; color:#000; line-height:22px; border:0px solid #F00;}
.penaltunotext{width:100%; float:left; text-align:left; margin-top:10px; font-size:14px; color:#0092cd; border:0px solid #F00;}
.total-projects{ width:100%; float:left; text-align:center; line-height:50px; color:#FFF; font-size:30px; font-weight:bold; padding:30px 0;}

.paypal-main{ width:100%; float:left; padding:10px; border:0px solid #F00;} 

.checkout-main{width:100%; float:left; margin-top:20px;}
.checkout1{width:100%; float:left;}
.checkout{width:60%; float:left; text-align:left; font-size:14px; padding-top:10px; border:0px solid #F00;}
.checkout-img{width:35%;float:right; text-align:right; border:0px solid #F00;}
.choosefile{ width:100%; float:left;  margin-top:2x; border:0px solid #F00;}

.submit-btn1{ width:125px; background-color:#5cc1df; color:#fff !important; border-radius:0px; margin:10px 0 0 0; /*border-top-right-radius:0px;*/}
.submit-btn1:visited {color:#000; }
.submit-btn1:hover{ background-color:#3fa5c3; color:#FFF;}
.outli{width:70%; outline:1px solid #0092cd; padding-top:0px;}
.delete-order{ width:100%; float:left; padding:0 0 50px 10px; border:1px solid #ccc;} 

.change-pass-main{width:100%; float:left; margin:10px 0 0 0; border:0px solid #F00;}
.change-pass1{width:100%; float:left; font-size:16px; border:0px solid #F00;}
.change-pass12{width:20%; float:left; margin-top:10px; margin-right:10px; border:0px solid #F00;}

.search-order-main{width:100%; float:left; margin:0; border:0px solid #F00;}
.search-order1{width:100%; float:left; font-size:16px; border:0px solid #F00;}
.search-order12{width:20%; float:left; margin-top:10px; margin-right:10px; border:0px solid #F00;}

.search-order-btn{ width:125px; background-color:#1abc9b; color:#fff !important; border-radius:0px; margin:10px 0 0 0; border-radius:5px;}
.search-order-btn:hover{ background-color:#10987c; color:#FFF;}



/*************** responsive work start width:980px; to width:1023px; ***************/
@media (min-width:980px) and (max-width:1023px) {

}


/*************** responsive work start width:800px; to width:979px; ***************/
@media (min-width:800px) and (max-width:979px) {

}


/*************** responsive work start width:768px; to width:799px; ***************/
@media (min-width:768px) and (max-width:799px) {
.login-main{ width:100%; margin:50px auto; padding:20px;}
}

/*************** responsive work start width:640px; to width:767px; ***************/
@media (min-width:640px) and (max-width:767px) {
.login-main{ width:100%; margin:50px auto; padding:20px;}

}


/*************** responsive work start width:480px; to width:639px; ***************/
@media (min-width:480px) and (max-width:639px) {
.login-main{ width:100%; margin:50px auto; padding:20px;}
}

/*************** responsive work start width:360px; to width:479px; ***************/
@media (min-width:360px) and (max-width:479px) {
.login-main{ width:100%; margin:50px auto; padding:20px;}

}


/*************** responsive work start width:320px; to width:359px; ***************/
@media (min-width:320px) and (max-width:359px) {

.login-main{ width:100%; margin:50px auto; padding:20px;}
}


.totalcost{color: #C7E393; }
.user_dash{ font-size:18px;font-weight:bold; }