
.form-class {
    font-weight: 400;
    font-size: 15px;
}
.div_class {
    margin-top: 20px;
}
.orage-icon {
    color: #ff9848;
    font-size: 18px;
}
.orage-icon-one {
    color: #ff9848;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    background: #8b8b8b;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}
.extra-padding span {
    padding-right: 13px;
    text-align: center;
    margin-left: 10px
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.second-margin {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 400;
}
.zero_calculate {
    height: 69px;
    text-align: center;
    background: ededed;
    color: #b5b5b5;
}
.file-type_indicate {
    list-style: none;
}
.file-type_indicate li {
    list-style: none;
    display: inline-block;
}
#bg-blue {
    background: #0092cd;
	float:right;
    width: 100%;
    background-size: cover;
    /* min-height: 64pc;*/
    padding: 20px;
	
 
	height: auto;
}
.new-order {
    color: #fff;
    font-size: 20px;
	padding-left:10px;
}
.right_list li {
    list-style: none;
    color: #fff;
    font-size: 14px;
    padding: 10px;
}




.right_list_two li {
    list-style: none;
    color: #fff;
    font-size: 18px;
    padding: 10px;
}
.sub-total {
    color: #fff;
    margin: 50px 0 20px 0;
}
.sub-total-two {
    color: #fff;
    margin: 50px 0 20px 0;
    font-size: 20px;
}

.custom_button {
    border-radius: 0;
    /* background: #0092CD; */
    border-color: #0092CD;
    margin-left: 5px;
	background: -moz-linear-gradient(320deg, #0092cd 0%, #90c5f7 100%);/* FF3.6+ */
background: -webkit-gradient(linear, 320deg, color-stop(0%, #0092cd), color-stop(100%, #90c5f7));/* Chrome,Safari4+ */
background: -webkit-linear-gradient(320deg, #0092cd 0%, #90c5f7 100%);/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(320deg, #0092cd 0%, #90c5f7 100%);/* Opera 11.10+ */
background: -ms-linear-gradient(320deg, #0092cd 0%, #90c5f7 100%);/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0092cd', endColorstr='#90c5f7', GradientType='1'); /* for IE */
background: linear-gradient(130deg, #0092cd 0%, #90c5f7 100%);/* W3C */
}
.custom {
    border-radius: 0;
    /* background: #0092CD; */
    border-color: #0092CD;
	background: -moz-linear-gradient(320deg, #0092cd 0%, #90c5f7 100%);/* FF3.6+ */
background: -webkit-gradient(linear, 320deg, color-stop(0%, #0092cd), color-stop(100%, #90c5f7));/* Chrome,Safari4+ */
background: -webkit-linear-gradient(320deg, #0092cd 0%, #90c5f7 100%);/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(320deg, #0092cd 0%, #90c5f7 100%);/* Opera 11.10+ */
background: -ms-linear-gradient(320deg, #0092cd 0%, #90c5f7 100%);/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0092cd', endColorstr='#90c5f7', GradientType='1'); /* for IE */
background: linear-gradient(130deg, #0092cd 0%, #90c5f7 100%);/* W3C */
}
.span-two {
    border-color: #ccc;
}
.border_none {
    border: none;
}

   
	.custom_inputs {
		width: 170px !important;
		height:20px !important;
		background-color:#0092cd !important;
		color:#ffffff !important;
		font-size:14px !important;
		padding:1px !important;
		border: none !important;
		    box-shadow: none !important;
	}
	.custom_inputs:focus {
		border-color: transparent !important;
		box-shadow:none !important;
	}
    

	.inner_main{
		background-color:#fff;
		padding:10px 30px;
	}
	.inner_main p{
		color:#0092cd;
		font-weight:600px;
	}
	.bigg{
		font-size:18px;
	}
 
	.page-header-span {
		border-bottom: none !important;
		padding-bottom: 0 !important;
	}
	.tooltip-inner {
		width:200px !important;
		text-shadow: initial !important;
		background-color: #000 !important;
	}
	
	
	.custom_inputs {
		width: 170px !important;
		height:20px !important;
		background-color:#0092cd !important;
		color:#ffffff !important;
		font-size:14px !important;
		padding:1px !important;
		border: none !important;
		    box-shadow: none !important;
	}
	.custom_inputs:focus {
		border-color: transparent !important;
		box-shadow:none !important;
	}
   