<div id="section">
	<div class="container-fluid">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class=" col-lg-5 col-md-5 col-sm-12 col-xs-12">
			<div class="bookimg">
				<img src="http://tecoholics.in/sustainability/wp-content/uploads/2016/11/book29.png"  />
			</div>
		</div>
		<div class=" col-lg-7 col-md-7 col-sm-12 col-xs-12 cntindors">
			<h3>TAKE STAKEHOLDER AUDIT SURVEY</h3>
			<p>If you are an individual and willing to share your perception of a company as a stakeholder, please click on 'Sign as an Individual Stakeholder'. You will be directed to fill-out a form and will receive a link to the appropriate survey via email.</p> 
<p>If you are an administrator for a company and would like to use the tool to evaluate perceptions of your company with various stakeholders, please click on 'Sign as a Company Administrator'. You will be directed to fill-out a form to register your company and will receive a link to add your stakeholders and to administer the survey via email.</p>

<div>
<input  type="radio" name="industryradiosust" id="industryradiosust1" value="1"> - Sign as a Company Administrator.<br/>
<input  type="radio" name="industryradiosust" id="industryradiosust2" value="2"> - Sign as an Individual Stakeholder.
</div>
			
		</div>
     </div>
	 </div>
</div>